```
# Flutter/Dart
.dart_tool/
.build/
.packages
flutter/ephemeral/
*.iws
*.iml
*.ipr
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Dependencies
.pub/
build/

# Environment
.env
.env.local
*.env.*

# Logs
*.log
**/logs

# Coverage
coverage/
lcov.info

# Android
**/android/**/gradle-wrapper.properties
**/android/.gradle
**/android/build/
**/android/app/build/

# iOS
**/ios/Pods/
**/ios/.symlinks
**/ios/build/
**/ios/Podfile.lock

# Web
**/web/build/

# Windows
*.bat
*.exe

# Linux
*.sh~

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
```